
#wrapper {
    width: 560px;
    margin: auto;
    position: relative;
}

#wrapper #search {
    margin: 30px auto 0;
}

#wrapper #graph {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

#input_wrapper {
    border-color: #000;
}

#wrapper #query_input {
    margin: auto;
    width: 230px;
    padding: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
}

#search input[type=submit] {
    width: 63px;
    height: 32px;
    margin-left: 10px;
}

#loading {
    position: absolute;
    left: 246px;
    top: 177px;
}

#edge-editor {
    margin: 20px auto 0;
}

#edge-editor input {
    width: 60px;
    margin: 0 10px;
}

#elapsed {
    margin: 15px 50px 10px;
    position: relative;
    left: 337px;
}
